.product-details {
display: flex;
justify-content: center;
padding: 0 30px;
margin: 0 auto; 
}

.info-container {
  width: 55%;
}

.list {
  list-style-type: none;
  font-family: Roboto;
  padding: 10px;
}

.list-name {
  font-size: 22px;
  font-weight: 670;
}

.list-price {
  font-size: 18px;
}

.button-div {
  display: flex;
  padding: 10px;
  margin-left: 40px;
}

hr {
  margin-left: 50px;
}

.review-header-contents {
  margin-left: 50px;
}

@media only screen and (max-width: 760px) {
  .product-details {
    display: block;
  }

  .button-div,
  .review-header-contents {
    margin-left: 0;
  }
}