.delete-button {
  color: white;
  background-color:#f6ca5c;
  border: 0px; 
  margin-top: 20px;
  margin-left: 20px;
<<<<<<< HEAD
  padding: 10px 43px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
} 
=======
  padding: 8px 30px;
  border-radius: 25px;
  font-weight: 700;
  text-decoration: none;
}
>>>>>>> 597c42baa80fea4a3b7cef1131e456e975bc7d81
