.product-edit{
  padding-top: 30px;
}

.label {
  font-family: arial;
}

.input-name {
  background-color: #f6ca5c;
  border: 0px; 
  margin-top: 20px;
  padding: 8px 22px;
  border-radius: 25px;
}

.input-price {
  
}

.textarea-description {
  
}

.textarea-detail {
  
}