@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

.about-us-container {
 max-width: 100%;
 margin: 0 auto;
 background-color: #eef2f4;
}

.about-us-title {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  color: #f6ca5c;
  font-weight: 900;
  text-align: center;
}

.about-us-text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
}