/* Style the search field */
.search-input {
  height: 34px;
  width: 250px;
  border: 0px solid gray;
  border-radius: 0 14px 14px 0;
  -webkit-box-shadow: 2px 0px 3px 0px rgba(190, 190, 190);
  -moz-box-shadow: 2px 0px 3px 0px rgba(190, 190, 190);
  box-shadow: 2px 0px 3px 0px rgb(190, 190, 190);
  outline: none;
  margin-left: 4px;
}