.container-separator-products{
  padding: 0px 5px;
  padding-bottom: 40px;
}

.container-products{
  border-style: solid;
  border-color: gray;
  border-width: thin;
  margin: 10px;
}

.image-products{
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.single-product{

  border-style: solid;
  border-width: thin;
  border-color: gray;
  margin: 20px;
}
.multi-product-container{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0 50px 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.name-price-products{
  border-style: solid;
  border-width: thin;
  border-color: gray;
  margin: 0px 10px;
}

.font-products{
  font-size: 8px;
  font-weight: 700;
}

.ul-products{
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}